
<img src="./assets/imgs/logoUnivTln.png" alt="Université de Toulon"  width="300" height="200"><br><br>
<div class="row">
    <h1>Application de gestion des materiels</h1>
</div><br><br>


<div class="row">
    <div class="col-sm-30"  col-sm-offset-8>
        <form  (ngSubmit)="login(f)" #f="ngForm">
            <div class="form-group">
                <input type="text" id="email" class="form-control" name="email" placeholder="Email" ngModel required>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" name="password" placeholder="Mot de passe" ngModel required>
            </div>
            <button type="submit" class="btn btn-primary">Connexion</button>
        </form>
    </div>
</div>

