<h1>Scannez le code QR du matériel</h1><br><br>
 <div class="modal-body" *ngIf="salleNum==''">
    <form>
      <div class="form-group">
        <label for="salleIn">Entrez le numéro de la samme ou vous êtes:</label>
        <div class="input-group">
          <input [(ngModel)]="salleNum" placeholder="Numéro de salle">
        </div>
      </div>
    </form>
  </div>

<div *ngIf="salleNum!=''">
<zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <small>Vous êtes dans la salle: </small>
    <strong>{{salleNum}}</strong><br>
    <small>Les données du matériel scanné: </small>
    <strong><pre>{{scanResult | json}}</pre></strong><br>
    <div *ngIf="scanResult != ''">
    <div *ngIf="salleNum != salle">
        <strong>Le matériel n'est pas dans la bonne salle. Il doit être dans la salle : {{salle}}</strong>
        <a href="#!update/{{idmat}}" class="btn btn-default btn-sm"> Déplacer le matériel</a>
    </div>
    </div>

</div>
