<div class="row">
    <div class="col-sm-30"  col-sm-offset-8>
        <form  (ngSubmit)="signup(f)" #f="ngForm">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" class="form-control" name="firstname" ngModel required>
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" class="form-control" name="lastname" ngModel required>
            </div>
            <div class="form-group">
                <label for="login">Email</label>
                <input type="email" id="email" class="form-control" name="email" ngModel required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" ngModel required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Sign Up</button>
        </form>
    </div>
</div>
