<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </header>
  <h1>Liste des journaux</h1><br><br>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id Journal</th>
                <th>Date</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let journal of journals">
                <td>{{journal.idJournal}}</td>
                <td>{{journal.dateJournal}}</td>
                <td>{{journal.idUser.emailUser}}</td>
                <td>
                    <a href="#!update/{{ journal.idJournal }}" class="btn btn-default btn-sm">Modifier</a>
                    <button class="btn-danger" id="remove" (click)="remove(journal.idJournal)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div><br><br>

<h1>Ajouter un nouveau journal</h1><br><br>
<div class="row">
    <div class="col-sm-30"  col-sm-offset-8>
        <form  (ngSubmit)="save(f)" #f="ngForm">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Créer</button>
        </form>
    </div>
</div>
