<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </header>
<body>
<h1>Liste des matériels</h1><br><br>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id Materiel</th>
                <th>Catégorie</th>
                <th>Nom matériel </th>
                <th>Salle </th>
                <th>Good Place </th>
                <th>Moved </th>
                <th>Code Barre </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materiel of materiels">
                <td>{{materiel.idMateriel}}</td>
                <td>{{materiel.idCategory.nameCategory}}</td>
                <td>{{materiel.nameMateriel}}</td>
                <td>{{materiel.salleInitial.idSalle}}</td>
                <td>{{materiel.inGoodPlace}}</td>
                <td>{{materiel.moved}}</td>
                <td><qr-code [value]="createQr(materiel.idMateriel,materiel.idCategory.nameCategory, 
                    materiel.nameMateriel, materiel.salleInitial.idSalle)"></qr-code> </td>
                <td>
                    <button class="btn-default" id="move" (click)="moved(materiel.idMateriel)">Déplacer</button>
                </td>
                <td>
                    <a href="#!update/{{materiel.idMateriel}}" class="btn btn-default btn-sm">Modifier</a>
                    <button class="btn-danger" id="remove" (click)="remove(materiel.idMateriel)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div><br><br>

<h1>Ajouter une nouveau matériel</h1><br><br>
<div class="row">
    <div class="col-sm-30"  col-sm-offset-8>
        <form [formGroup]="materielForm" (ngSubmit)="save()">
            <div class="form-group">
                <input type="text" id="nameMateriel" class="form-control" name="nameMateriel" placeholder="Nom" ngModel required>
            </div>
            <div class="form-group">
            <div ng-app="nameCategory" ng-controller="myCtrl">
                <select formControlName="categories">
                    <option [ngValue]="null" disabled selected>Category</option><br>
                    <option *ngFor="let category of categories" [ngValue]="category.idCategory" ngModel required>{{category.nameCategory}}</option>
                  </select>
            </div>
        </div>
        <div class="form-group">
            <div ng-app="salleInitial" ng-controller="myCtrl">
                <select formControlName="salles">
                    <option [ngValue]="null" disabled selected>Salle</option><br>
                    <option *ngFor="let salle of salles" [ngValue]="salle.idSalle"ngModel required>{{salle.nameSalle}}</option>
                  </select>
            </div>
        </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>
</div>
</body>
