<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </header>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id Materiel</th>
                <th>Catégorie</th>
                <th>Code Barre </th>
                <th>Nom matériel </th>
                <th>Salle </th>
                <th>Good Place </th>
                <th>Moved </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materiel of materiels">
                <td>{{materiel.idMateriel}}</td>
                <td>{{materiel.idCategory.nameCategory}}</td>
                <td>{{materiel.codeBarreMateriel}}</td>
                <td>{{materiel.nameMateriel}}</td>
                <td>{{materiel.salleInitial.nameSalle}}</td>
                <td>{{materiel.inGoodPlace}}</td>
                <td>{{materiel.moved}}</td>
                <td>
                    <button class="btn-default" id="move" (click)="moved(materiel.idMateriel)">Déplacer</button>
                </td>
                <td>
                    <a href="#!update/{{ materiel.idMateriel }}" class="btn btn-default btn-sm">Modifier</a>
                    <button class="btn-danger" id="remove" (click)="remove(materiel.idMateriel)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>